body {
  margin: 0;
  height: 100vh;
  background: #f7b7c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.cake {
  position: relative;
  width: 200px;
  height: 220px;
  z-index:1;
}

/* Torta emeletek */
.layer {
  position: absolute;
  left: 0;
  width: 200px;
  height: 60px;
  background: #6d4c41;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: build 0.6s forwards;
}

.bottom { bottom: 0; animation-delay: 0s; }
.middle { bottom: 60px; animation-delay: 0.6s; }
.top    { bottom: 120px; animation-delay: 1.2s; }

/* Krém */
.icing {
  position: absolute;
  top: 40px;
  width: 200px;
  height: 25px;
  background: white;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  animation: icing 0.6s forwards;
  animation-delay: 1.8s;
}

/* 19-es szám a torta elején */
.cake-number {
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: white;
  opacity: 1;
  animation: showNumber 0.5s forwards;
  animation-delay: 2.2s;
  z-index: 10;
}

/* Gyertya */
.candle {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 40px;
  background: #ffcc80;
  border-radius: 3px;
  opacity: 1;
  animation: showCandle 0.4s forwards;
  animation-delay: 2.6s;
  z-index: 11;
}

/* Láng */
.flame {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 18px;
  background: orange;
  border-radius: 50%;
  animation: flicker 0.2s infinite alternate;
}

.birthday-text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px; /* távolság a tortától */
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* Animációk */
@keyframes build {
  to { transform: scaleY(1); }
}

@keyframes icing {
  to { transform: scaleY(1); }
}

@keyframes showNumber {
  to { opacity: 1; }
}

@keyframes showCandle {
  to { opacity: 1; }
}

@keyframes flicker {
  from { opacity: 0.8; transform: translateX(-50%) scale(1); }
  to   { opacity: 1; transform: translateX(-50%) scale(1.1); }
}